<div class="w-50 mx-auto text-center">

  <div class="lead my-5">Input a link to a playlist to see the distribution of genres for that playlist.</div>

  <form action="/" method="POST">

    <div class="input-group mb-3">
      <input type="text" class="form-control" name="playlist" placeholder="Link to playlist" value="{{playlist}}" aria-label="Link to playlist">
      <input type="submit" value="List Genres" class="btn btn-secondary">
    </div>
  </form>

</div>